$clr-black: #1F1F1F;
$clr-white: #fff;
$clr-yellow: #FBCE51;
$clr-red: #F54932;
$clr-blue: #3057A2;
$clr-grey: #E9DED4;
$clr-grey-dark: #313131;
$clr-light-grey: #D0D0D0;
$clr-not-active: #D6D6D6;
$clr-point-not-active: #D9D9D9;