.container {
  max-width: 1222px;
  margin-inline: auto;
}

.marquee {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 24px;
  color: #fff;
  vertical-align: middle;
  background-color: #F54932;
  padding: 18px 0;
}
.marquee span {
  vertical-align: middle;
}
.marquee span::after {
  content: "";
  display: inline-block;
  margin-inline: 12px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fff;
  margin-bottom: 5px;
  vertical-align: middle;
}

s {
  text-decoration-color: #F54932;
}

a {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  color: #3057A2;
  display: inline-block;
}

.btn {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  transition-property: background-color, color;
}
.btn--common {
  border: none;
  height: 72px;
  padding: 15px 50px;
  border-radius: 36px;
  background-color: #1F1F1F;
  color: #fff;
}
.btn--common:hover {
  background: #FBCE51;
  color: #1F1F1F;
}
.btn--outline {
  outline: 2px solid #1F1F1F;
  outline-offset: -2px;
  background: transparent;
  color: #1F1F1F;
}
.btn--outline:hover {
  background: #1F1F1F;
  color: #fff;
}
.btn--circle {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 0;
  background: #1F1F1F;
}
.btn--circle:hover {
  background: #FBCE51;
}
.btn--circle:disabled {
  background-color: #D6D6D6;
  cursor: not-allowed;
}
.btn--detailed {
  outline: 1px solid #3057A2;
  outline-offset: -1px;
  background: transparent;
  color: #3057A2;
  padding: 10px 12px;
  border-radius: 62px;
  line-height: 19px;
}
.btn--detailed:hover {
  background: #3057A2;
  color: #fff;
}

.header {
  height: 700px;
  background-image: url("/public/img/header-bg.png");
  background-color: #E9DED4;
  background-repeat: repeat;
  background-position: center;
  padding-top: 26px;
  position: relative;
  background-blend-mode: color-burn;
}
.header__city {
  position: absolute;
  inset: 0;
  background: url("/public/img/header-bg-city.png") no-repeat center;
}
.header__content {
  position: relative;
  width: 542px;
  margin-top: 62px;
}
.header__title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
}
.header__subtitle {
  margin-top: 24px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.header__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.header__buttons > * {
  flex: 1;
}

.support {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}
.support__text {
  width: 765px;
  color: #313131;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.support__text strong {
  color: #F54932;
}

.session {
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17px;
}
.session__title {
  text-transform: uppercase;
}
.session__content {
  margin-top: 47px;
  color: #313131;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.session__content strong {
  color: #F54932;
}
.session__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px 0 0;
  color: #313131;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  line-height: 24px;
}
.session__list dt:not(:first-of-type),
.session__list dd:not(:first-of-type) {
  padding-top: 16px;
}
.session__list dt:not(:last-of-type),
.session__list dd:not(:last-of-type) {
  border-bottom: 2px solid #D0D0D0;
  padding-bottom: 16px;
}
.session__list dt {
  opacity: 0.7;
  padding-right: 16px;
  border-right: 2px solid #D0D0D0;
}
.session__list dd {
  font-weight: 600;
  margin: 0;
  padding-left: 16px;
}
.session__contact {
  margin-top: 48px;
}

.stages {
  margin-top: 200px;
  color: #313131;
  font-family: "Merriweather", sans-serif;
  font-size: 54px;
  font-weight: 400;
}
.stages__title {
  width: 800px;
  text-transform: uppercase;
}
.stages__title a {
  display: inline-block;
  width: 280px;
}
.stages__content {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.stages__content > div:nth-child(3) {
  grid-row: span 2;
}
.stages__content > div:nth-child(7) {
  padding-right: 285px;
  grid-column: span 2;
  position: relative;
}
.stages__cell {
  display: flex;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  background: url("/public/img/bg-cell.png") #E9DED4;
  counter-increment: stages__cell;
  gap: 16px;
}
.stages__cell::before {
  content: counter(stages__cell);
  display: block;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  color: #1F1F1F;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600;
}
.stages .item3 {
  grid-row: span 2;
}
.stages__plane {
  right: -60px;
  bottom: 0;
  position: absolute;
}

.players {
  margin: 200px 0 140px;
}
.players__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.players__title {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 54px;
}
.players__buttons {
  display: inline-flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}
.players__count {
  opacity: 0.6;
}
.players__container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.player {
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.player__name {
  margin-top: 28px;
}
.player__status {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  background-color: #E9DED4;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 40px 72px 72px;
}
.footer p {
  margin-inline: auto;
  max-width: 1222px;
}

.carousel {
  overflow: hidden;
}
.carousel__inner {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.carousel__slide {
  display: inline-block;
  margin: 0;
  flex-shrink: 0;
}

/*# sourceMappingURL=index.css.map */
