@use 'colors' as *;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: $clr-grey-dark;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Golos Text', sans-serif;
}

#app {
  height: 100%;
}

main {
  padding-inline: 72px;

  @media (max-width: 480px) {
    padding-inline: 20px;
  }
}

td {
  padding: 0;
}

.mobile {
  @media (min-width: 481px) {
    display: none !important;
  }
}

.desktop {
  @media (max-width: 480px) {
    display: none !important;
  }
}